/* Copyright 2012 Rafael López García. All rights reserved. */

/* Texts. */

.caption {
	font-size: 14px;
	font-weight: bold;
	text-align: center;
}

.copyright {
	text-align: right;
	font-size: 10px;
}

/* Links. */

a {
	font-weight: bold;
	text-decoration: none;
	color: #6694e3;
}

a:hover {
	text-decoration: underline;
}

.littleLink {
	font-size: 10px;
}

/* Lists. */

li {
	margin-bottom: 10px;
}

/* Images. */

.picture {
	width: 40%;
	display: block;
	margin: auto;
}

.rightBar {
	float: right;
	width: 25%;
	margin-left: 20px;
}

.rightBarPicture {
	width: 100%;
	display: block;
	margin-bottom: 10px;
}

.enableJavaScript {}

#map_canvas {
	display: block;
	margin-bottom: 20px;
}

.galleria {
	width: 600px;
	height: 600px;
	background: #000;
	display: block;
	margin-left: 15px;
	margin-bottom: 20px;
}

/* Email image */

img.email {
	vertical-align: middle;
}

/* Tables. */

.table {
	text-align: center;
	margin-left:auto; 
    	margin-right:auto;
}

.tableRow {}

.tableHeader {
	font-size: 14px;
	font-variant: small-caps;
	background-color: #6694e3;
	color: white;
	margin: 2px;
	padding: 6px;
}

.tableItem {
	background-color: #d3d3d3;
	margin: 2px;
	padding: 6px;
}

/* Body. */

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	margin: 10px 20px;
	background-color: #dddde0;
}

/* Window. */

#window {
	border: #000 1px solid;
	background-color: #fff;
	padding: 7px;
	width: 99%;
}

/* Page title. */

#header {
	background-color: #6694e3;
	color: #fff;
	text-align: center;
	font-weight: bold;
	font-size: xx-large;
	padding: 5px 0 5px 5px;
	width: 99%;
}

/* Content. */

#content {
	margin-top: 5px;
	padding-left: 3%;
	padding-right: 3%;
	font-size: large;
	text-align: justify;
	width: 94%;
}

/* Footer. */

#footer {
	clear: both;
	text-align: center;
	margin-top: 5px;
	padding-top: 5px;
	border-top: #000 1px solid; 
	width: 100%;
}

/* Previous and Next Links. */
div.previousNextLinks {
	width: 90%;
	margin-top: 10px;
}

div.previousNextLinks span.previousLink {
	float: left;
	text-align: left;
	width: 49.5%;
}

div.previousNextLinks span.nextLink {
	float: right;
    	text-align: right;
	width: 49.5%;
}

/* Sublist */

li ul {
	margin-top: 6px;
}


